# Operating System Files
.DS_Store
Thumbs.db

# IDE and Editor Files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp

# Dependency Directories
/vendor/
/node_modules/

# Environment Files
.env

# Logs
error_log
*.log

# SASS/SCSS Cache
.sass-cache/

